<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
        
        {{render(controller('App\\Controller\\BarController::mainMenu',{'routeName' : app.request.attributes.get('_route')}))}}

        <img src="{{ asset('assets/images/beer.jpg') }}" {{app.request.get('_route') == 'bar' ? 'visible' : 'hidden' }} />
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <h1>{% block name %}Beers{% endblock %}</h1>
        <ul class="nav-list">{% block beers_list %}{% endblock %}</ul>

        <footer>{% block footer %}All rights reserved{% endblock %}</footer>
    </body>
</html>
